/* WHOLE MAP */

/* html body takes up whole screen */
html, body{
  height: 100%;
  width: 100%;
}

/* map occupies entire screen */
#mymap{
	height:100%;
	width:100%;
	bottom:0;
}

/* browser adds margin by default, and that adds a scrollbar ... no good */
body {
  margin: 0;
  overflow:hidden;
  overflow-x:hidden;
}

body > #sidebar {
  display: none;
}
/*
#content{
  margin-left: 10%;
  margin-right: 10%;
}
*/

#controls{
  top: 0;
  left: 10px;
}

#fakePopUp{
  position:absolute;
  bottom:0;
  right:0
}